USE [master]
GO
/****** Object:  Database [RoyalYard]    Script Date: 1/3/2018 5:57:02 PM ******/
CREATE DATABASE [RoyalYard]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RoyalYard', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RoyalYard.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RoyalYard_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RoyalYard_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RoyalYard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RoyalYard]
GO
/****** Object:  Table [dbo].[ry_Admin]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ry_Admin](
	[userName] [nvarchar](32) NOT NULL,
	[userPassword] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_ry_Admin] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ry_Client]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ry_Client](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Cnic] [nvarchar](32) NOT NULL,
	[firstName] [nvarchar](32) NOT NULL,
	[lastName] [nvarchar](32) NOT NULL,
	[email] [nvarchar](32) NOT NULL,
	[contactNumber] [nvarchar](32) NOT NULL,
	[postalAddress] [nvarchar](200) NOT NULL,
	[permenantAddress] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_ry_Client] PRIMARY KEY CLUSTERED 
(
	[Cnic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ry_Comments]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ry_Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[Email] [nvarchar](32) NOT NULL,
	[Comments] [nvarchar](max) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_ry_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ry_CountrySideProject]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ry_CountrySideProject](
	[csPropertyId] [int] IDENTITY(1,1) NOT NULL,
	[Cnic] [nvarchar](32) NOT NULL,
	[location] [nvarchar](200) NOT NULL,
	[propertyType] [nvarchar](32) NOT NULL,
	[areaSize] [nvarchar](32) NOT NULL,
	[demand] [nvarchar](32) NOT NULL,
	[Status] [nvarchar](32) NOT NULL,
	[rentOrSale] [nvarchar](32) NOT NULL,
	[propertyDescription] [nvarchar](max) NOT NULL,
	[agentName] [nvarchar](32) NOT NULL,
	[agentContactNumber] [nvarchar](32) NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_ry_CountrySideProject] PRIMARY KEY CLUSTERED 
(
	[csPropertyId] ASC,
	[Cnic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ry_Property]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ry_Property](
	[propertyID] [int] IDENTITY(1,1) NOT NULL,
	[Cnic] [nvarchar](32) NOT NULL,
	[location] [nvarchar](200) NOT NULL,
	[propertyType] [nvarchar](32) NOT NULL,
	[areaSize] [nvarchar](32) NOT NULL,
	[demand] [nvarchar](32) NOT NULL,
	[Status] [nvarchar](32) NOT NULL,
	[rentOrSale] [nvarchar](32) NOT NULL,
	[propertyDescription] [nvarchar](max) NOT NULL,
	[agentName] [nvarchar](32) NOT NULL,
	[agentContactNumber] [nvarchar](32) NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_ry_Property] PRIMARY KEY CLUSTERED 
(
	[propertyID] ASC,
	[Cnic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ry_Admin] ([userName], [userPassword]) VALUES (N'Royalyard', N'pakistan123')
SET IDENTITY_INSERT [dbo].[ry_Client] ON 

INSERT [dbo].[ry_Client] ([ClientId], [Cnic], [firstName], [lastName], [email], [contactNumber], [postalAddress], [permenantAddress]) VALUES (40, N'42201-1234662-1', N'Fashi', N'Khan', N'fasihkh@gmail.com', N'0312-1234699', N'A-302 Gulshan-e-Iqbal', N'A-302 Gulshan-e-Iqbal')
INSERT [dbo].[ry_Client] ([ClientId], [Cnic], [firstName], [lastName], [email], [contactNumber], [postalAddress], [permenantAddress]) VALUES (36, N'42201-2913939-1', N'Zain', N'Iqbal', N'zainhjh@gmail.com', N'0322-2988989', N'A-465Block#15 Gulistan-e-Jauhar', N'A-465Block#15 Gulistan-e-Jauhar')
INSERT [dbo].[ry_Client] ([ClientId], [Cnic], [firstName], [lastName], [email], [contactNumber], [postalAddress], [permenantAddress]) VALUES (42, N'42201-6746778-2', N'Nabeel', N'Khan', N'nabeelkhan@gmail.com', N'0321-7676778', N'A-342 Block#2 Gulshan-e-Iqbal', N'A-342 Block#2 Gulshan-e-Iqbal')
SET IDENTITY_INSERT [dbo].[ry_Client] OFF
SET IDENTITY_INSERT [dbo].[ry_Comments] ON 

INSERT [dbo].[ry_Comments] ([Id], [Name], [Email], [Comments], [Date]) VALUES (1, N'Zain', N'zain12@gmail.com', N'Thank you.Best Service!', CAST(N'2017-10-23' AS Date))
INSERT [dbo].[ry_Comments] ([Id], [Name], [Email], [Comments], [Date]) VALUES (5, N'Anum', N'anm@gmail.com', N'kkjkjk', CAST(N'2017-10-23' AS Date))
INSERT [dbo].[ry_Comments] ([Id], [Name], [Email], [Comments], [Date]) VALUES (6, N'Muntaha', N'muntaha@gmail.com', N'Thanks', CAST(N'2017-10-23' AS Date))
SET IDENTITY_INSERT [dbo].[ry_Comments] OFF
SET IDENTITY_INSERT [dbo].[ry_CountrySideProject] ON 

SET IDENTITY_INSERT [dbo].[ry_CountrySideProject] OFF
SET IDENTITY_INSERT [dbo].[ry_Property] ON 

SET IDENTITY_INSERT [dbo].[ry_Property] OFF
ALTER TABLE [dbo].[ry_CountrySideProject]  WITH CHECK ADD  CONSTRAINT [FK_ry_CountrySideProject_ry_Client] FOREIGN KEY([Cnic])
REFERENCES [dbo].[ry_Client] ([Cnic])
GO
ALTER TABLE [dbo].[ry_CountrySideProject] CHECK CONSTRAINT [FK_ry_CountrySideProject_ry_Client]
GO
ALTER TABLE [dbo].[ry_Property]  WITH CHECK ADD  CONSTRAINT [FK_ry_Property_ry_Client] FOREIGN KEY([Cnic])
REFERENCES [dbo].[ry_Client] ([Cnic])
GO
ALTER TABLE [dbo].[ry_Property] CHECK CONSTRAINT [FK_ry_Property_ry_Client]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteClient]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteClient] 
(@Cnic nvarchar(32))
AS
BEGIN
      declare @abc nvarchar(32)='null'
IF EXISTS(
SELECT *
FROM ry_Property
WHERE EXISTS 
  (SELECT *
   FROM ry_Client
   WHERE ry_Property.Cnic= @Cnic))
   Begin
   Set @abc='not null'
  
End
Else IF EXISTS(
SELECT *
FROM ry_CountrySideProject
WHERE EXISTS 
  (SELECT *
   FROM ry_Client
   WHERE ry_CountrySideProject.Cnic= @Cnic))
   Begin
   Set @abc='not null'  
End

Else if(@abc='null')
Begin
  DELETE FROM [dbo].[ry_Client]
  WHERE Cnic=@Cnic 
End
	  --declare @cnicProperty nvarchar(32)=null
	  --set @cnicProperty = (select Cnic From dbo.ry_Property where Cnic=@Cnic)

	  --declare @cnicCSP nvarchar(32)=null
	  --set @cnicCSP = (select Cnic From dbo.ry_CountrySideProject where Cnic=@Cnic)

	  --if(@cnicCSP=null and @cnicProperty=null)
	  --BEGIN
	  --DELETE FROM [dbo].[ry_Client]
   --   WHERE Cnic=@Cnic 

--declare @no_of_data int =null
--     IF EXISTS 
--(
--    SELECT * 
--    FROM INFORMATION_SCHEMA.COLUMNS    WHERE table_name = 'ry_CountrySideProject'
--    AND column_name = 'Cnic'
--)
--	SET @no_of_data=1;

-- Else IF EXISTS(
--    SELECT * 
--    FROM INFORMATION_SCHEMA.COLUMNS    WHERE table_name = 'ry_Property'
--    AND column_name = 'Cnic'
--) 
--SET @no_of_data=1;
   
--   if(@no_of_data=null)
--	  BEGIN
--	  DELETE FROM [dbo].[ry_Client]
--   WHERE Cnic=@Cnic 
--	  END

	

END



GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteComments]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteComments]
(@Id int)
AS

BEGIN
DELETE FROM [dbo].ry_Comments
 WHERE Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteCSP]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteCSP]
(          @csPropertyId int
           ,@Cnic nvarchar(32))


AS
BEGIN


DELETE FROM [dbo].[ry_CountrySideProject]
 WHERE Cnic=@Cnic and csPropertyId=@csPropertyId
	 END

GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteProperty]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteProperty]
(
@propertyId int,
@Cnic nvarchar(32))

   
AS
BEGIN

DELETE FROM [dbo].[ry_Property]
      WHERE propertyId=@propertyID and Cnic=@Cnic  
END


GO
/****** Object:  StoredProcedure [dbo].[usp_insertClient]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_insertClient] 
	        (@Cnic nvarchar(32)
           ,@firstName nvarchar(32)
           ,@lastName nvarchar(32)
           ,@email nvarchar(32)
           ,@contactNumber nvarchar(32)
           ,@postalAddress nvarchar(200)
           ,@permenantAddress nvarchar(200))
AS
IF NOT EXISTS (Select ry_Client.Cnic from ry_Client where ry_Client.Cnic=@Cnic)
BEGIN
INSERT INTO [dbo].[ry_Client]
           ([Cnic]
           ,[firstName]
           ,[lastName]
           ,[email]
           ,[contactNumber]
           ,[postalAddress]
           ,[permenantAddress])
     VALUES
           (@Cnic
           ,@firstName
           ,@lastName
           ,@email
           ,@contactNumber
           ,@postalAddress
           ,@permenantAddress)
END
ELSE
Begin
UPDATE [dbo].[ry_Client]
   SET [Cnic] = @Cnic
      ,[firstName] = @firstName
      ,[lastName] = @lastName
      ,[email] = @email
      ,[contactNumber] = @contactNumber
      ,[postalAddress] = @postalAddress
      ,[permenantAddress] = @permenantAddress
	  Where Cnic=@Cnic;
 End

GO
/****** Object:  StoredProcedure [dbo].[usp_insertComments]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_insertComments]
           (@Name nvarchar(32)
           ,@Email nvarchar(32)
           ,@Comments nvarchar(max)
           ,@Date date)
AS
BEGIN
INSERT INTO [dbo].[ry_Comments]
           ([Name]
           ,[Email]
           ,[Comments]
           ,[Date])
     VALUES
           (@Name
           ,@Email
           ,@Comments
           ,@Date)
END


GO
/****** Object:  StoredProcedure [dbo].[usp_insertCountrySideProject]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_insertCountrySideProject]
	        (@Cnic nvarchar(32)
           ,@location nvarchar(200)
           ,@propertyType nvarchar(32)
           ,@areaSize nvarchar(32)
           ,@demand nvarchar(32)
           ,@Status nvarchar(32)
           ,@rentOrSale nvarchar(32)
           ,@propertyDescription nvarchar(max)
           ,@agentName nvarchar(32)
           ,@agentContactNumber nvarchar(32)
           ,@Image varbinary(max))
AS
BEGIN

INSERT INTO [dbo].[ry_CountrySideProject]
           ([Cnic]
		   ,[location]
           ,[propertyType]
           ,[areaSize]
           ,[demand]
           ,[Status]
           ,[rentOrSale]
           ,[propertyDescription]
           ,[agentName]
           ,[agentContactNumber]
           ,[Image])
     VALUES
           (@Cnic
		   ,@location
           ,@propertyType
           ,@areaSize
           ,@demand
           ,@Status
           ,@rentOrSale
           ,@propertyDescription
           ,@agentName
           ,@agentContactNumber
           ,@Image)
END


GO
/****** Object:  StoredProcedure [dbo].[usp_insertProperty]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_insertProperty] 
	        (@Cnic nvarchar(32)
		   ,@location nvarchar(200)
           ,@propertyType nvarchar(32)
           ,@areaSize nvarchar(32)
           ,@demand nvarchar(32)
           ,@Status nvarchar(32)
           ,@rentOrSale nvarchar(32)
           ,@propertyDescription nvarchar(max)
           ,@agentName nvarchar(32)
           ,@agentContactNumber nvarchar(32)
           ,@Image varbinary(max))
AS
BEGIN

INSERT INTO [dbo].[ry_Property]
           ([Cnic]
		   ,[location]
           ,[propertyType]
           ,[areaSize]
           ,[demand]
           ,[Status]
           ,[rentOrSale]
           ,[propertyDescription]
           ,[agentName]
           ,[agentContactNumber]
           ,[Image])
     VALUES
           (@Cnic
		   ,@location
           ,@propertyType
           ,@areaSize
           ,@demand
           ,@Status
           ,@rentOrSale
           ,@propertyDescription
           ,@agentName
           ,@agentContactNumber
           ,@Image)
END


GO
/****** Object:  StoredProcedure [dbo].[usp_showCSP]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_showCSP]

AS
BEGIN
Select ry_CountrySideProject.csPropertyId,
       ry_CountrySideProject.Cnic,
	   ry_CountrySideProject.location,
	   ry_CountrySideProject.propertyType,
       ry_CountrySideProject.areaSize,
	   ry_CountrySideProject.demand,
       ry_CountrySideProject.Status,
	   ry_CountrySideProject.rentOrSale,
	   ry_CountrySideProject.propertyDescription,
	   ry_CountrySideProject.agentName,
	   ry_CountrySideProject.agentContactNumber,
	   ry_CountrySideProject.Image,

	    ry_Client.ClientId,
	    ry_Client.Cnic,
        ry_Client.firstName,
        ry_Client.lastName,
        ry_Client.email,
	    ry_Client.contactNumber,
	    ry_Client.postalAddress,
	    ry_Client.permenantAddress

		from ry_CountrySideProject inner join ry_Client
		on ry_CountrySideProject.Cnic=ry_Client.Cnic 

END


GO
/****** Object:  StoredProcedure [dbo].[usp_ShowProperty]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ShowProperty]
AS
BEGIN
Select ry_Property.propertyID,
       ry_Property.Cnic,
	   ry_Property.location,
	   ry_Property.propertyType,
       ry_Property.areaSize,
	   ry_Property.demand,
       ry_Property.Status,
	   ry_Property.rentOrSale,
	   ry_Property.propertyDescription,
	   ry_Property.agentName,
	   ry_Property.agentContactNumber,
	   ry_Property.Image,

	    ry_Client.ClientId,
	    ry_Client.Cnic,
        ry_Client.firstName,
        ry_Client.lastName,
        ry_Client.email,
	    ry_Client.contactNumber,
	    ry_Client.postalAddress,
	    ry_Client.permenantAddress

		from ry_Property inner join ry_Client
		on ry_Property.Cnic=ry_Client.Cnic 

END

GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateClient]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdateClient]
	        (@Cnic nvarchar(32)
           ,@firstName nvarchar(32)
           ,@lastName nvarchar(32)
           ,@email nvarchar(32)
           ,@contactNumber nvarchar(32)
           ,@postalAddress nvarchar(200)
           ,@permenantAddress nvarchar(200))
AS
BEGIN
UPDATE [dbo].[ry_Client]
   SET [Cnic] = @Cnic
      ,[firstName] = @firstName
      ,[lastName] = @lastName
      ,[email] = @email
      ,[contactNumber] = @contactNumber
      ,[postalAddress] = @postalAddress
      ,[permenantAddress] = @permenantAddress
	  Where Cnic=@Cnic;
END


GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateCSP]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdateCSP]
	        (@Cnic nvarchar(32)
           ,@location nvarchar(200)
           ,@propertyType nvarchar(32)
           ,@areaSize nvarchar(32)
           ,@demand nvarchar(32)
           ,@Status nvarchar(32)
           ,@rentOrSale nvarchar(32)
           ,@propertyDescription nvarchar(max)
           ,@agentName nvarchar(32)
           ,@agentContactNumber nvarchar(32)
           ,@Image varbinary(max)=0x)
AS
BEGIN
if(@Image=0x)
BEGIN
UPDATE [dbo].[ry_CountrySideProject]
   SET [Cnic]=@Cnic
      ,[location]=@location
      ,[propertyType]=@propertyType
      ,[areaSize]=@areaSize
      ,[demand]=@demand
      ,[Status]=@Status
      ,[rentOrSale]=@rentOrSale
      ,[propertyDescription]=@propertyDescription
      ,[agentName]=@agentName
      ,[agentContactNumber]=@agentContactNumber
 WHERE Cnic=@Cnic
END
Else
BEGIN
UPDATE [dbo].[ry_CountrySideProject]
   SET [Cnic]=@Cnic
      ,[location]=@location
      ,[propertyType]=@propertyType
      ,[areaSize]=@areaSize
      ,[demand]=@demand
      ,[Status]=@Status
      ,[rentOrSale]=@rentOrSale
      ,[propertyDescription]=@propertyDescription
      ,[agentName]=@agentName
      ,[agentContactNumber]=@agentContactNumber
      ,[Image]=@Image
 WHERE Cnic=@Cnic
END
END


GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateProperty]    Script Date: 1/3/2018 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdateProperty]

           (@Cnic nvarchar(32)
           ,@location nvarchar(200)
           ,@propertyType nvarchar(32)
           ,@areaSize nvarchar(32)
           ,@demand nvarchar(32)
           ,@Status nvarchar(32)
           ,@rentOrSale nvarchar(32)
           ,@propertyDescription nvarchar(max)
           ,@agentName nvarchar(32)
           ,@agentContactNumber nvarchar(32)
           ,@Image varbinary(max)=0x)
AS
BEGIN
if(@Image=0x)
BEGIN
UPDATE [dbo].[ry_Property]
   SET [Cnic] = @Cnic
      ,[location] = @location
      ,[propertyType] =@propertyType
      ,[areaSize] = @areaSize
      ,[demand] = @demand
      ,[Status] =@Status
      ,[rentOrSale] =@rentOrSale
      ,[propertyDescription] =@propertyDescription
      ,[agentName] = @agentName
      ,[agentContactNumber] = @agentContactNumber
 WHERE Cnic=@Cnic
END
ELSE
BEGIN
UPDATE [dbo].[ry_Property]
   SET [Cnic] = @Cnic
      ,[location] = @location
      ,[propertyType] =@propertyType
      ,[areaSize] = @areaSize
      ,[demand] = @demand
      ,[Status] =@Status
      ,[rentOrSale] =@rentOrSale
      ,[propertyDescription] =@propertyDescription
      ,[agentName] = @agentName
      ,[agentContactNumber] = @agentContactNumber
      ,[Image] = @Image
 WHERE Cnic=@Cnic
 END
END


GO
USE [master]
GO
